<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- <mapper namespace="userMapper"> -->
<mapper namespace="user.dao.UserDAO">  <!-- userMyBatisDAO에서 접근하는 것이 아닌 userDAO에서 바로 접근하는 것이기 떄문 -->

	<!-- 아이디 중복 체크 -->
	<select id="getExistId" parameterType="String" resultType="userDTO">
		select * from usertable where id=#{id}
	</select>

	<insert id="write" parameterType="userDTO">
		insert into usertable values(#{name}, #{id}, #{pwd})
	</insert>
	
	<select id="list" resultType="userDTO">
		select * from usertable
	</select>
	
	<select id="TotalA" resultType="int">
		select count(*) from usertable
	</select>
	
	<update id="update" parameterType="userDTO">
		update usertable set name = #{name}, pwd = #{pwd} where id = #{id}
	</update>
	
	<select id="getUserById" parameterType="String" resultType="userDTO">
		select * from usertable where id=#{id}
	</select>
	
	<select id="verifyPassword" parameterType="map" resultType="userDTO">
    	SELECT * FROM usertable WHERE id=#{id} AND pwd=#{pwd}
	</select>
	
	<delete id="delete" parameterType="String">
		delete from usertable where id=#{id}
	</delete>

	
</mapper>